<div style="width:100%">
    <table style="width:100%">
        <tbody>
            <tr class="number">
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
            </tr>
            <tr class="bar">
                <td (click)="startBucket( 1 )"></td>
                <td (click)="startBucket( 2 )"></td>
                <td (click)="startBucket( 3 )"></td>
                <td (click)="startBucket( 4 )"></td>
                <td (click)="startBucket( 5 )"></td>
                <td (click)="startBucket( 6 )"></td>
                <td (click)="startBucket( 7 )"></td>
                <td (click)="startBucket( 8 )"></td>
                <td (click)="startBucket( 9 )"></td>
                <td (click)="startBucket( 10 )"></td>
            </tr>
       </tbody>
    </table>
</div>
