td {
  width: 10%;
}

tr.bar > td {
  border: 1px solid black;
  padding:0px;
}

tr.number > td {
  text-align:center;
  width:10%;
}

tr.bar {
  height: 5em;
}

bucket-component {
  position:relative;
  top:0%;
  bottom:100%;
  left:0%;
  right:100%;
}
