<div style="width:100%">
    <table style="width:100%">
        <tbody>
            <tr>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
                <td>10.000</td>
            </tr>
            <tr class="bar">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
       </tbody>
    </table>
</div>
